html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}



.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
    height: 150%
    
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative;
}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
  position: absolute;
  bottom: 2px;
  left: 0;  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #ff6e30;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.btn-legendary {
  background-color: #fba118;
  color: #fff;
  font-size: xx-large;
}

.custom-link {
  color: #fff;
  text-decoration: none;
}

.custom-link:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btn-legendary:hover {
  background-color: #FFF;
  color: #fba118;
  transform: scale(1.25);
  animation: myrotation 1s infinite;
}

@keyframes myrotation {
  50% {transform: rotate(360deg);}
}




.btn-orange {
  background-color: #fba118;
  color: #fff;
  font-size: large;
}

.lead {
  text-align: justify;
  text-justify: inter-word;
  font-size: large;
}

.logout-icon:hover, .fa-plus-square:hover, .logout-img:hover, .close:hover {
  cursor: pointer;
}

.close {
  font-size: xx-large;
}

.modal {
  display: block;
  position: fixed;
  top: 15%;
  left: 25%;
  z-index: 99;
}

.modal_content {
  background-color: #FFF;
  position: absolute;
  border-radius: 20px;
  padding: 25px;
}

.btn-candy {
  display: grid;
  grid-auto-flow: column;
  grid-gap: .5em;
  margin: 20px auto;
  border: solid .25em transparent;
  padding: 1em 1.5em;
  border-radius: 9em;
  color: #FFF;
  background: 
    linear-gradient(to right bottom, #fba118, #ffda5f)
      border-box;
  font: 700 1.5em/ 1.25 georgia, sans-serif;
  text-transform: uppercase;
}

.btn-candy::after { content: attr(title) }

.bg-custom {
  background-color: #fba118 !important;
}

.validate-input {
  position: relative;
}
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}
textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
.input1 {
  display: block;
  width: 100%;
  background: rgba(255, 213, 128, 0.5);
  font-size: 18px;
  line-height: 1.5;
  color: #000;
  border: none;
}

textarea.input1:focus {
  outline: none;
}

textarea.input1+.shadow-input1 {
  border-radius: 25px;
}
.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0 0;
}

.floating-right-bottom-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: xx-large;
}
.floating-right-bottom-btn-new {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: xx-large;
  border: 2px solid black;
  border-radius: 4px;
}

.floating-right-bottom-btn-new:hover{
  background-color: rgb(45, 91, 219);
  color: #fba118;
  border: 2px solid white;
}
.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.main-class-area {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}