html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.btn-legendary {
  background-color: #fba118;
  color: #fff;
  font-size: xx-large;
}

.btn-legendary:hover {
  background-color: #FFF;
  color: #fba118;
  transform: scale(1.5);
  animation: myrotation 2s infinite;
}

@keyframes myrotation {
  50% {transform: rotate(360deg);}
}

.lead {
  text-align: justify;
  text-justify: inter-word;
  font-size: medium;
}

.logout-icon:hover, .fa-plus-square:hover, .logout-img:hover {
  cursor: pointer;
}

.modal {
  display: block;
  position: fixed;
  top: 30%;
  left: 40%;
  z-index: 1;
}

.modal_content {
  background-color: white;
  position: absolute;
}